.bienvenida {
  text-align: center;
  margin-top: 20px;

  h2 {
    font-weight: bold;
    font-size: 24px;
  }

  .rol {
    font-size: 14px;
    color: gray;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 30px;

  img {
    width: 100%;        // Ocupa todo el ancho disponible
    max-width: 300px;   // Limita tamaño máximo
    height: auto;       // Mantiene proporción
    object-fit: contain;
    opacity: 0.95;
  }
}
.rol-badge {
  margin-top: 6px;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 12px;
  text-transform: capitalize;
}

