<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadTickets()">
    <ion-refresher-content pullingText="Desliza para actualizar"></ion-refresher-content>
  </ion-refresher>

  <!-- Campo de búsqueda -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filtrarTicketsParam()" placeholder="Buscar tickets..."
    debounce="500"></ion-searchbar>

  <ion-item>
    <ion-icon name="funnel" slot="start"></ion-icon>
    <ion-label>Filtrar por Estado</ion-label>
    <ion-select [(ngModel)]="estadoSeleccionado" (ionChange)="filtrarTicketsParam()">
      <ion-select-option value="all">Todos</ion-select-option>
      <ion-select-option *ngFor="let estado of estadosTickets" [value]="estado.idEstadoTicket">
        {{ estado.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de tickets -->
  <ion-list>
    <ion-item-sliding *ngFor="let ticket of filteredTickets">
      <ion-item>
        <ion-label>
          <h2> # {{ticket.idTicket}} - {{ ticket.titulo }}</h2>
          <!-- <p>Estado: {{ ticket.descEstadoTicket }}</p> -->
          <p>
            Estado:
            <ion-badge [color]="getColorPorEstado(ticket.descEstadoTicket)">
              {{ ticket.descEstadoTicket }}
            </ion-badge>
          </p>
          <p>Prioridad : 
            <ion-badge [color]="getColorPorPrioridad(ticket.descPrioridad)">
              {{ ticket.descPrioridad }}
            </ion-badge>
            <p>Asignado a: {{ ticket.descAgente || 'No asignado' }}</p>
          <p>Fecha de creación: {{ ticket.fechaCreacion }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="validarRol.esUsuario() && ticket.idEstadoTicket !== '1'" color="success"
          (click)="editarTicket(ticket)">
          <ion-icon name="construct-outline"></ion-icon> Gestionar
        </ion-item-option>
        <ion-item-option *ngIf="!validarRol.esUsuario()" color="success" (click)="editarTicket(ticket)">
          <ion-icon name="construct-outline"></ion-icon> Gestionar
        </ion-item-option>
        <ion-item-option *ngIf="!ticket.descAgente && (validarRol.esAdministrador() || validarRol.esCoordinador())"
          color="warning" (click)="asignarAgente(ticket)" color="primary">
          <ion-icon name="person-add"></ion-icon> Asignar
        </ion-item-option>
        <ion-item-option *ngIf="validarRol.esUsuario() && ticket.idEstadoTicket === '1'" color="danger"
          (click)="confirmEliminar(ticket)">
          <ion-icon name="trash"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botón flotante para agregar un nuevo ticket -->
  <ion-fab *ngIf="validarRol.esUsuario()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="crearNuevoTicket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>