<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="opcion === 1">Asignar Ticket</ion-title>
    <ion-title *ngIf="opcion === 2">Escalar Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p><strong># Ticket:</strong> {{ ticket.idTicket }}</p>
      <p><strong>Usuario:</strong> {{ ticket.descPersona }}</p>
      <p><strong>Asunto:</strong> {{ ticket.titulo }}</p>
      <p><strong>Detalle:</strong> {{ ticket.descripcion }}</p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="asignarForm">
    <ion-item>
      <ion-label position="stacked">Departamento</ion-label>
      <ion-select formControlName="departamentoAgente" (ionChange)="onDepartamentoChange($event)">
        <ion-select-option *ngFor="let depto of departamentoAgentes" [value]="depto.idDepartamentoA">
          {{ depto.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger"
      *ngIf="asignarForm.get('departamentoAgente')?.touched && asignarForm.get('departamentoAgente')?.invalid">
      El departamento es obligatorio.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Agente</ion-label>
      <ion-select formControlName="idAgente"> 
        <ion-select-option *ngFor="let agente of agentes" [value]="agente.idAgente">
          {{ agente.agenteNombreCompleto }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger" *ngIf="asignarForm.get('idAgente')?.touched && asignarForm.get('idAgente')?.invalid">
      El agente es obligatorio.
    </ion-note>

    <ion-button expand="block" color="primary" (click)="confirmarAsignacion()" [disabled]="asignarForm.invalid">
      Confirmar Asignación
    </ion-button>
  </form>
</ion-content>