<ion-header>
  <ion-toolbar class="toolbar-dark">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-scroll-container">
    <h2 style="text-align: center;">Por favor ingrese el detalle del Ticket # {{ticket.idTicket}}</h2>
  </div>

  <div>
    <form [formGroup]="ticketDetalleForm" class="chat-input-container">
      <quill-editor class="quill-wrapper" formControlName="detalle" [modules]="{
      toolbar: [
        ['bold', 'italic', 'underline'],
        [{ list: 'ordered' }, { list: 'bullet' }],
        ['link', 'image']
      ]
    }" placeholder="Escriba los detalles del ticket aquí...">
      </quill-editor>

      <ion-note color="danger"
        *ngIf="ticketDetalleForm.get('detalle')?.invalid && ticketDetalleForm.get('detalle')?.touched">
        El detalle es requerido
      </ion-note>

      <ion-button expand="block" color="success" (click)="confirmarEnvio()">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        Enviar mensaje
      </ion-button>
    </form>
  </div>
</ion-content>