// Color de header
.toolbar-dark {
  --background: #000;
  --color: #fff;
}

.toolbar-dark ion-title {
  color: #fff;
}

.toolbar-dark ion-icon {
  color: #fff;
}

// Fin color de header

.quill-wrapper {
    width: 100%;
    max-width: 700px;
    /* Ancho fijo máximo */
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
  }

  /* Contenedor del editor */
  .quill-wrapper ::ng-deep .ql-container {
    height: 200px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Contenido editable */
  .quill-wrapper ::ng-deep .ql-editor {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    width: 100% !important;
    box-sizing: border-box;
  }

  /* Toolbar fijo */
  .quill-wrapper ::ng-deep .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #ccc;
  }

  @media screen and (max-width: 768px) {
    .quill-wrapper {
      max-width: 100% !important;
    }
  }

  .contenido-detalle {
    max-height: 300px; // ajusta según necesidad
    overflow-y: auto;
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
  }
