<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-scroll-container">
    <div *ngFor="let mensaje of mensajes" [ngClass]="{ 'left': !mensaje?.idAgente, 'right': mensaje?.idAgente }"
      class="chat-bubble">
      <h5>
        {{ mensaje?.idAgente ? mensaje?.agenteNombreCompleto : mensaje?.clienteNombreCompleto }}
        publicado {{ mensaje?.fechaDetalle }}
      </h5>
      <div class="formatted-content" [innerHTML]="mensaje?.detalle"></div>
    </div>
  </div>

  <div>
    <!-- <div *ngIf="validarRol?.esAgente() || validarRol?.esUsuario()"> -->
    <!-- <div
      *ngIf="ticketForm &&
        (ticketForm.get('idEstadoTicket')?.value === '3' ||
         ticketForm.get('idEstadoTicket')?.value === '6' ||
         ticketForm.get('idEstadoTicket')?.value === '9')"> -->
    <div>

      <form [formGroup]="ticketDetalleForm" class="chat-input-container">
        <quill-editor formControlName="detalle" [styles]="{ height: '150px', backgroundColor: 'white' }" [modules]="{
            toolbar: [
              ['bold', 'italic', 'underline'],
              [{ list: 'ordered' }, { list: 'bullet' }],
              ['link', 'image']
            ]
          }" placeholder="Escribe una respuesta...">
        </quill-editor>

        <ion-button expand="block" class="ion-margin-top" (click)="enviarMensaje()">Enviar mensaje</ion-button>
      </form>

    </div>
  </div>
  <div>
    <form [formGroup]="ticketDetalleForm" class="chat-input-container">
      <quill-editor class="quill-wrapper" formControlName="descripcion" [modules]="{
      toolbar: [
        ['bold', 'italic', 'underline'],
        [{ list: 'ordered' }, { list: 'bullet' }],
        ['link', 'image']
      ]
    }" placeholder="Escribe los detalles del ticket aquí...">
      </quill-editor>
    </form>
  </div>
</ion-content>