<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of menuItems" [routerLink]="item.url">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="danger" (click)="logout()">
      <ion-icon name="log-out"></ion-icon> Cerrar Sesión
    </ion-button>
  </ion-content>
</ion-menu> -->
